biopandas==0.4.1
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==1.26.2
pandas==2.1.4
prompt-toolkit==3.0.36
py3Dmol==2.0.4
Pygments==2.17.2
python-dateutil==2.8.2
pytz==2023.3.post1
questionary==2.0.1
rich==13.7.0
six==1.16.0
tqdm==4.66.1
tzdata==2023.3
wcwidth==0.2.12
